---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to EducaNet.">
  <Header />
  <main
    class="w-[1000px] max-w-[calc(100%_-_2rem)] dark:bg-gray-800 rounded-lg border-r-2 border-b-2 border-l-2 border-slate-500 text-xl leading-[1.6] m-auto p-4;"
  >
    <h1 class="text-gradient text-7xl font-bold text-center pt-5 pb-5">
      About EducaNet
    </h1>
    <p class="text-justify text-xl text-white p-5">
      <b class="text-gradient">Educanet</b> consists of an online educational platform,
      similar to a virtual classroom. The central idea is to allow teachers and students
      to interact effectively and collaboratively, regardless of their geographical
      location.<br /><br />We were born from a final degree project, which it
      was decided to finish, improve and deploy.
    </p>
  </main>
</Layout>

<style>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 20%,
      white 60%
    );
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
  }
</style>
