---
import Layout from '../layouts/Layout.astro';
import SignIn from '../components/SignIn.astro';
import SignUp from '../components/SignUp.astro';

import { isVaildDni } from  '../utils/isVaildDni';
import { isValidPassword } from  '../utils/isValidPassword';
import { hashPassword } from  '../utils/hashPassword';
import { checkEmail } from  '../utils/checkEmail';
import { checkPassword } from  '../utils/checkPassword';


import { v4 as uuidv4 } from  'uuid';
import {  db, like, Student, Class, Class_Student, Subject, Department, Teacher} from "astro:db";




if ( Astro.request.method === "POST" ) {
  try {

		const data = await Astro.request.formData();
		if ( data.get( "SignUp-name" ) != null && data.get( "SignUp-email" ) != null && data.get( "SignUp-nia" ) != null && data.get( "SignUp-dni" ) != null && data.get( "SignUp-password" ) != null && data.get( "SignUp-rpassword" ) != null ){

			const SignUp_uuid = uuidv4()
			const SignUp_name = data.get( "SignUp-name" )
			const SignUp_email = data.get( "SignUp-email" )
			const SignUp_nia = data.get( "SignUp-nia" )
			const SignUp_dni = data.get( "SignUp-dni" )
			const SignUp_password = data.get( "SignUp-password" )
			const SignUp_rpassword = data.get( "SignUp-rpassword" )

			if ( typeof SignUp_name === "string" && typeof SignUp_email === "string" && typeof SignUp_nia === "string" && typeof SignUp_dni === "string" && typeof SignUp_password === "string" && typeof SignUp_rpassword === "string" ){
				if (isVaildDni( SignUp_dni ) && isValidPassword( SignUp_password, SignUp_rpassword )) {
					const SignUp_hashed_password = await hashPassword( SignUp_password )
					await db.insert( Student ).values (
						{ id : SignUp_uuid , name : SignUp_name, email : SignUp_email , nia : SignUp_nia , dni : SignUp_dni , password : SignUp_hashed_password }
					)
				}
			}
		}
		if ( data.get("SignIn-email") != null && data.get("SignIn-password") != null){
			const SignIn_email = data.get('SignIn-email')
			const SignIn_password = data.get("SignIn-password")
			
			if ( typeof SignIn_email === "string" && typeof SignIn_password === "string" ) {
				
				const  students = await db.select().from(Student).where(like(Student.email, SignIn_email))
				if ( students.length > 0 && students.length < 2 ) {
					
					if ( await checkEmail ( SignIn_email , students[0].email ) && await checkPassword ( SignIn_password , students[0].password )) {
						console.log(true) // serach how to change the direction with a transition
						return Astro.redirect("/home")
						Astro.cookies.set("User_email", students[0].email)
					}
				}
			}
		}
 		
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout title="Welcome to EducaNet.">
	<main class="w-[800px] max-w-[calc(100%_-_2rem)] text-[white] text-xl leading-[1.6] m-auto p-4;">
		
		<h1 class="text-gradient text-7xl font-bold text-center mt-14 mb-24">Welcome to EducaNet</h1>
		
		<SignIn/>
		<SignUp/>

	</main>
</Layout>

<style>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 20%,
			white 60%
		);
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 300%;
	}
</style>
