---

---


<header class="dark:bg-gray-800 text-white border-2 border-slate-500">
  <div class="container mx-auto flex items-center h-24">
    <a href="" class="flex items-center justify-center">
      <img class="h-16" src="" alt="" />
      <span class="ml-4 uppercase font-black text-gradient text-3xl">EducaNet</span>
    </a>
    <nav class="contents font-semibold text-base lg:text-lg">
      <ul class="mx-auto flex items-center">
        <li class="p-5 xl:p-8 active">
          <a href="">
            <span>Home</span>
          </a>
        </li>
        <li class="p-5 xl:p-8">
          <a href="">
            <span>About</span>
          </a>
        </li>
        <li class="p-5 xl:p-8">
          <a href="">
            <span>News</span>
          </a>
        </li>
        <li class="p-5 xl:p-8">
          <a href="">
            <span>Chats</span>
          </a>
        </li>
        <li class="p-5 xl:p-8">
          <a href="">
            <span>Settings</span>
          </a>
        </li>
      </ul>
    </nav>
    <button class="border border-white rounded-full font-bold px-8 py-2 hover:bg-blue-50 hover:bg-opacity-80 focus:bg-blue-50 focus:bg-opacity-80 active:bg-blue-50 active:bg-opacity-80 hover:text-blue-900 focus:text-blue-900 active:text-blue-900">Contact us</button>
  </div>
</header>

<style>
    :root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 25%,
			white 60%
		);
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 300%;
	}
  </style>