---

---

<div
  class="hidden items-center min-h-svh dark:bg-gray-800 rounded-lg border-2 border-slate-500"
  id="Teacher_SignUp"
>
  <div class="container mx-auto">
    <div class="max-w-md mx-auto my-10">
      <div class="text-center">
        <h1
          class="my-3 text-3xl font-semibold text-gray-700 dark:text-gray-200"
        >
          Sign Up
        </h1>
        <p class="text-gray-500 dark:text-gray-400">Create your account</p>
      </div>

      <div class="m-7">
        <form method="POST">
          <div class="mb-6">
            <div class="flex justify-between mb-2">
              <label
                for="SignUp-name"
                class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
                >Full Name</label
              >
            </div>
            <input
              type="text"
              name="SignUp-name"
              id="SignUp-name"
              placeholder="Jhon Doe Smith"
              class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
              required
            />
          </div>

          <div class="mb-6">
            <div class="flex justify-between mb-2">
              <label
                for="SignUp-email"
                class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
                >Email Address</label
              >
            </div>
            <input
              type="email"
              name="SignUp-email"
              id="SignUp-email"
              placeholder="username@domain.com"
              class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
              required
            />
          </div>

          <div class="mb-6">
            <div class="flex justify-between mb-2">
              <label
                for="SignUp-dni"
                class="block mb-2 text-sm text-gray-600 dark:text-gray-400"
                >DNI</label
              >
            </div>
            <input
              type="text"
              name="SignUp-dni"
              id="SignUp-dni"
              placeholder="12345678A"
              class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
              required
            />
          </div>

          <div class="mb-6">
            <div class="flex justify-between mb-2">
              <label
                for="SignUp-password"
                class="text-sm text-gray-600 dark:text-gray-400">Password</label
              >
            </div>
            <input
              type="password"
              name="SignUp-password"
              id="SignUp-password"
              placeholder="Password"
              class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
              required
            />
          </div>

          <div class="mb-6">
            <div class="flex justify-between mb-2">
              <label
                for="SignUp-rpassword"
                class="text-sm text-gray-600 dark:text-gray-400"
                >Repeat Password</label
              >
            </div>
            <input
              type="password"
              name="SignUp-rpassword"
              id="SignUp-rpassword"
              placeholder="Password"
              class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
              required
            />
          </div>

          <div class="mb-6">
            <button
              type="submit"
              class="w-full px-3 py-4 text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none"
              >Sign Up</button
            >
          </div>
          <p class="text-sm text-center text-gray-400">
            Have an account? <a
              href="#!"
              class="text-indigo-400 focus:outline-none focus:underline focus:text-indigo-500 dark:focus:border-indigo-800"
              >Sign In</a
            >.
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
