---
var { theory } = Astro.props;
---

<div
  id={theory}
  role="button"
  tabindex="0"
  class="flex items-center w-full p-3 rounded-lg text-justify leading-tight transition-all outline-none cursor-text"
>
  {theory}
</div>
